<hr>
<h1>Cursos de Bailes</h1>
<hr>
<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let lista of general ; let indice= index"
        [ngClass]="{'estreno': lista.anio ==anio}">
        <img [src]="lista.image" class="card-img-top tamano img-thumbnail" [alt]="lista.titulo">
        <div class="card-body">
            <h5 class="card-title"> {{ lista.genero }}</h5>
            <p class="card-text">Año {{ lista.anio }}</p>
            <div>
                <span class="badge badge-dark" *ngIf="lista.anio > anio">PROXIMAMENTE</span>
                <span class="badge badge-warning" *ngIf="lista.anio == anio">ESTRENO</span>
            </div>
            <hr>

            <button (click)="agregarFavorito(lista)" type="button" class="btn btn-outline-warning btn-block">
                agregar a favoritos
            </button>
            <hr>
            <button (click)="verBaile(indice)" type="button" class="btn btn-outline-primary btn-block">
                ver más...
            </button>
        </div>
    </div>

</div>